# Banco de Dados - Prof. Sérgio Lifschitz

---

## Exercícios da Aula 2: Projeto Conceitual e Linguagem SQL DDL (criação e atualização de esquemas) e SQL DML (atualização de instâncias)

**Primeira Parte:** Projeto Conceitual com Diagramas ER

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1Sd8Nd1nraKALk-GqRszRCu4MZqmBDBE5/view?usp=sharing

Você irá praticar com a ferramenta BRmodelo.

Ao final deste COLAB, publicamos uma possível solução.

**Segunda Parte:** Voltamos a utilizar o SGBD PostgreSQL localmente.

Para a prática de SQL DML (atualização de instâncias) usando um esquema similar ao esquema CARROS da Aula 1.

## PASSO 1: Instalação e Configuração do PostgreSQL

Basta dar PLAY que o script abaixo instalará o SGBD PostgreSQL

## PASSO 2: Preparo do Esquema Relacional CARROS2

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1B0OFWhCV8zOLt0FQ5KvCutLPhuMveZ84/view?usp=sharing

Diferentemente da aula 1, aqui você irá utilizar os comandos de criação do esquema CARROS2 propostos por você no seu próprio COLAB, seguindo as instruções do enunciado da Lista da Aula 2. Você pode utilizar os scripts do esquema CARROS da Aula 1 apenas como referência de "gabarito".

Os demais comandos (PLAY) de criação do esquema do BD Carros2 seguem iguais à aula 1.

In [11]:
%load_ext sql
%config SqlMagic.autopandas = True

%config SqlMagic.style = '_deprecated_default'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
from sqlalchemy import create_engine

%sql postgresql://postgres:12345@localhost:5432/pos_db

In [3]:
%%sql
DROP SCHEMA IF EXISTS carros CASCADE;
CREATE SCHEMA carros;

 * postgresql://postgres:***@localhost:5432/pos_db
Done.
Done.

[]

## PASSO 3: Preparando para usar o SGBD PostgreSQL localmente

Aqui nada muda em relação à Aula 1 - configuração para extensão SQL usando o SGBD PostgreSQL no seu COLAB.

## Prática de SQL DDL (esquemas) e DML (instâncias)

Criação e atualização do esquema CARROS2 implantado no SGBD PostgreSQL, seguindo as instruções dos exercícios desta aula 2.

In [4]:
%%sql
SET SCHEMA carros;

 * postgresql://postgres:***@localhost:5432/pos_db
(psycopg2.errors.SyntaxError) syntax error at or near "carros"
LINE 1: SET SCHEMA carros;
                   ^

[SQL: SET SCHEMA carros;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [6]:
%%sql

CREATE TABLE  IF NOT EXISTS carros.automoveis (
    codigo INTEGER NOT NULL,
    ano character(2) NOT NULL,
    fabricante character(20),
    modelo character(20),
    preco_tabela numeric(8,2),
    pais character(20)
);

CREATE TABLE IF NOT EXISTS carros.vendas (
    cnpj VARCHAR(5) NOT NULL,
    nome VARCHAR(50),
    cpf_proprietario VARCHAR(5),
    estado VARCHAR(2)
);

CREATE TABLE IF NOT EXISTS carros.consumidores (
    cpf VARCHAR(5) NOT NULL,
    nome VARCHAR(20),
    sobrenome VARCHAR(20),
    data_nascimento DATE,
    estado VARCHAR(2)
);

CREATE TABLE IF NOT EXISTS carros.negocios (
    cpf_comprador VARCHAR(5) NOT NULL,
    cnpj_vendedor VARCHAR(5) NOT NULL,
    codigo_auto INTEGER NOT NULL,
    ano_auto CHARACTER(2) NOT NULL,
    data DATE,
    preco_venda NUMERIC(8,2)
);

CREATE TABLE IF NOT EXISTS carros.garagens (
    cpnj_loja VARCHAR(5) NOT NULL,
    codigo_auto INTEGER NOT NULL,
    ano_auto CHARACTER(2) NOT NULL,
    quantidade INTEGER
);

 * postgresql://postgres:***@localhost:5432/pos_db
Done.
Done.
Done.
Done.
Done.

[]

In [7]:
%%sql
ALTER TABLE carros.automoveis ADD PRIMARY KEY (codigo, ano);

ALTER TABLE carros.consumidores ADD PRIMARY KEY (cpf);

ALTER TABLE carros.vendas ADD PRIMARY KEY (cnpj),
    ADD FOREIGN KEY (cpf_proprietario) REFERENCES carros.consumidores(cpf);

ALTER TABLE carros.negocios ADD PRIMARY KEY (cpf_comprador, cnpj_vendedor, codigo_auto, ano_auto),
    ADD FOREIGN KEY (cpf_comprador) REFERENCES carros.consumidores(cpf),
    ADD FOREIGN KEY (cnpj_vendedor) REFERENCES carros.vendas(cnpj),
    ADD FOREIGN KEY (codigo_auto, ano_auto) REFERENCES carros.automoveis(codigo, ano);

ALTER TABLE carros.garagens ADD PRIMARY KEY (cpnj_loja, codigo_auto, ano_auto),
    ADD FOREIGN KEY (cpnj_loja) REFERENCES carros.vendas(cnpj),
    ADD FOREIGN KEY (codigo_auto, ano_auto) REFERENCES carros.automoveis(codigo, ano);

 * postgresql://postgres:***@localhost:5432/pos_db
Done.
Done.
Done.
Done.
Done.

[]

In [20]:
%%sql
INSERT INTO carros.automoveis (codigo, ano, fabricante, modelo, preco_tabela, pais) VALUES 
(1001, '21', 'Ford', 'Fiesta', 45000.00, 'Brasil'),
(1002, '20', 'Chevrolet', 'Onix', 53000.00, 'Brasil'),
(1003, '19', 'Toyota', 'Corolla', 90000.00, 'Japão') ON CONFLICT DO NOTHING;

INSERT INTO carros.consumidores (cpf, nome, sobrenome, data_nascimento, estado) VALUES 
('55555', 'João', 'Silva', '1990-05-15', 'SP'),
('66666', 'Maria', 'Oliveira', '1985-11-20', 'RJ'),
('77777', 'Carlos', 'Santos', '2000-02-02', 'MG') ON CONFLICT DO NOTHING;

INSERT INTO carros.vendas (cnpj, nome, cpf_proprietario, estado) VALUES 
('12345', 'Auto Forte', '55555', 'SP'),
('23456', 'Carros e Cia', '66666', 'RJ'),
('34567', 'Veiculos Center', '77777', 'MG') ON CONFLICT DO NOTHING;


INSERT INTO carros.negocios (cpf_comprador, cnpj_vendedor, codigo_auto, ano_auto, data, preco_venda) VALUES 
('55555', '12345', 1001, '21', '2023-07-01', 44000.00),
('66666', '23456', 1002, '20', '2023-08-12', 51000.00),
('77777', '34567', 1003, '19', '2023-09-15', 89000.00) ON CONFLICT DO NOTHING;

INSERT INTO carros.garagens (cpnj_loja, codigo_auto, ano_auto, quantidade) VALUES 
('12345', 1001, '21', 5),
('23456', 1002, '20', 2),
('34567', 1003, '19', 4) ON CONFLICT DO NOTHING;

 * postgresql://postgres:***@localhost:5432/pos_db
0 rows affected.
0 rows affected.
3 rows affected.
3 rows affected.
3 rows affected.

Empty DataFrame
Columns: []
Index: []

In [23]:
%%sql
SELECT * FROM carros.garagens;

 * postgresql://postgres:***@localhost:5432/pos_db
3 rows affected.

  cpnj_loja  codigo_auto ano_auto  quantidade
0     12345         1001       21           5
1     23456         1002       20           2
2     34567         1003       19           4

**Parte 1: Modelagem Conceitual**

Segue SUGESTÃO de solução de modelagem conceitual ER usando a ferramenta BRmodelo.

https://drive.google.com/file/d/10-lx_mCLC4svbnopnlBKxtfsBJGqdbXt/view?usp=sharing